<!DOCTYPE html>
<html>
<head>
<title>
Testing <%= module_name %>
</title>
</head>

<body>
<textarea id="user_script" style="display:none;">

// Our code
// API - addResult(), addError(), addSuccess(), addInfo()


var Test = new Object();
var theCallback = "";
var addResult = function(){
	top.window.addResult(arguments, 'SUCCESS');
	theCallback();
return;
}

var addSuccess = function(){
	top.window.addResult(arguments, 'SUCCESS');
	theCallback();
return;
}

var addError = function(){
	top.window.addResult(arguments, 'ERROR');
	theCallback();
return;
}

var addInfo = function(){
	top.window.addResult(arguments, 'INFO');
	theCallback();
return;
}



var callTest = function(dataObj, callback){
	theCallback = function(){callback();};
	test(dataObj);
}

// The userScript for the Module

<%- module_test.userScript %>

// Our code


</textarea>

<h1>Testing <%= module_name %> </h1>
<script src="/public/js/detect.js"></script>
<script>
var rows = [];
var addResult = function(args, type){
	var obj = {};
	obj.data = [];
	for(var x in args)
		obj.data.push(args[x]);
	obj.type = type;
	rows.push(obj);
	console.log(rows.length);
}

var ua = detect.parse(navigator.userAgent);

var userScript = document.getElementById('user_script').textContent;

function newIframe(injectMe, iframeCreated){
	var iframe = document.createElement('iframe');
	iframe.onload = function(){ injectScript(this, injectMe); iframeCreated(iframe);}
	document.body.appendChild(iframe);
}

function injectScript(iframe, inject){
	var script = iframe.contentWindow.document.createElement('script');
	script.type = 'text/javascript';
	script.innerHTML = inject;
	iframe.contentWindow.document.body.appendChild(script);
}


function endTest(){console.log(rows.length);
	document.getElementById('domstorm_id_status').innerHTML = '<h1>The test is complete now. </h1> <h2>This window will close right now.</h2>';
	var module_id = '<%=module_id%>';
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/modules/results/update', true);
	xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xhr.send('_module_id='+module_id+'&_browser='+ua.browser.family+'&_os='+ua.os.family+'&_version='+ua.browser.version+'&_results_raw='+encodeURIComponent(1)+'&_rows='+encodeURIComponent(JSON.stringify(rows)));

	setTimeout(function(){
		window.opener.location.reload();
		this.close();
	}, 2000);
}



</script>
<div id="domstorm_id_status"></div>
<iframe width="100%"  height="999px" src="/modules/run?id=<%= module_id %>&iframe=1"></iframe>
</body>
</html>
