<!DOCTYPE html>
<html>
<head>
<title>
Testing <%= module_name %>
</title>

<script type="text/javascript">
var rows = [];
var addResult = function(args, type){
	var obj = {};
	obj.data = [];
	for(var x in args)
		obj.data.push(args[x]);
	obj.type = type;
	rows.push(obj);
}
</script>

</head>

<body>
<textarea id="user_script" style="display:none;">

// Our code
// API - addResult(), addError(), addSuccess(), addInfo()


var Test = new Object();
var theCallback = "";
var addResult = function(){
	top.window.addResult(arguments, 'SUCCESS');
	theCallback();
return;
}

var addSuccess = function(){
	top.window.addResult(arguments, 'SUCCESS');
	theCallback();
return;
}

var addError = function(){
	top.window.addResult(arguments, 'ERROR');
	theCallback();
return;
}

var addInfo = function(){
	top.window.addResult(arguments, 'INFO');
	theCallback();
return;
}


	
var callTest = function(dataObj, callback){
	theCallback = function(){callback();};
	test(dataObj);
}

// The userScript for the Module

<%- module_test.userScript %>

// Our code


</textarea>

<h1>Testing <%= module_name %> </h1>
<script>
var getBrowser = function(){
	var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
	var is_safari = navigator.userAgent.toLowerCase().indexOf('safari') > -1;
	var is_opera = navigator.userAgent.toLowerCase().indexOf('opr') > -1; // has Chrome & Safari as well.
	var is_firefox = navigator.userAgent.toLowerCase().indexOf('firefox') > -1;
	var obj = {};
	obj.browser = "OTHERS";
	obj.browser_name = "Others";

	// Order is important, we already have to use a reliable user-agent detection.
	if (is_opera){ // has Chrome & Safari as well.
		obj.browser = "OPERA";
		obj.browser_name = "Opera";
		return obj;
	}

	if (is_chrome){ // has Safari as well.
		obj.browser = "GOOGLE_CHROME";
		obj.browser_name = "Google Chrome";
		return obj;
	}
	
	if (is_safari){ // Apple is badass, only has SAFARI in userAgent string \m/
		obj.browser = "SAFARI";
		obj.browser_name = "Safari";
		return obj;
	}

	if (is_firefox){
		obj.browser = "MOZILLA_FIREFOX";
		obj.browser_name = "Mozilla Firefox";
		return obj;
	}
	
return obj;
}

var browserObj = getBrowser();
var browser = browserObj.browser;
var browser_name = browserObj.browser_name;


var userScript = document.getElementById('user_script').innerText;

function newIframe(injectMe, iframeCreated){
	var iframe = document.createElement('iframe');
	iframe.onload = function(){ injectScript(this, injectMe); iframeCreated(iframe);}
	document.body.appendChild(iframe);
}

function injectScript(iframe, inject){
	var script = iframe.contentWindow.document.createElement('script');
	script.type = 'text/javascript';
	script.innerHTML = inject;
	iframe.contentWindow.document.body.appendChild(script);
}

// The Enum Data for the given module.
<%- module_test.enum_data %>

// Type = Data Enumeration using a test Function
var x = 0;

(function testLoop(){
	if(x == data.length){
		endTest();
	return;
	}
	newIframe(userScript , function(testNode){
		testNode.contentWindow.callTest.call(undefined, data[x], function(){
			testNode.parentNode.removeChild(testNode);
			x++;
			testLoop();
		});
	});
}());


function endTest(){
	document.body.innerHTML += '<h1>The test is complete now. </h1> <h2>This window will close right now.</h2>';
	var module_id = '<%=module_id%>';
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/modules/results/update', true);
	xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xhr.send('_module_id='+module_id+'&_browser='+browser+'&_results_raw='+encodeURIComponent(1)+'&_rows='+encodeURIComponent(JSON.stringify(rows)));
	
	setTimeout(function(){
		window.opener.location.reload();
		//this.close();
	}, 2000);
}



</script>

</body>
</html>
