<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<div class="container">

<center>
<span>
  <form action="/search" method="GET">
    <input type="text" class="form-control" autofocus name="q" id="search-box" placeholder="Search" value="<%= q %>" />
    <input type="submit" id="search-button" value="Go" class="btn btn-primary" />
  </form>
</span>
</center>


<br/>

</div>

<div class="container">

  <% if(empty === true){ %>
    <h3><center>Search for modules.</center></h3>
    <% } else {%>
    <% if(modules.length === 0){ %>
      <h3><center>Search returned no results.</center></h3>
      <% } else {%>
        <% for(x in modules) {%>
          <div class="col-lg-4 module-block">
            <a href="/modules/?id=<%= modules[x]._id %>" class="list-group-item" title="<%= modules[x].description %>">
              <b><%= modules[x].name %></b> <br/>
              <%= modules[x].description %> <br/>
              By <%= modules[x].owner %> <br/>
              Tested on <%= modules[x].browsers_tested %> browsers<br/>
              </a>
          </div>
      <% } %>
    <% } %>
  <% } %>


</div>

<% include ../layouts/footer.ejs %>
